:root {
    --dark-blue:#060922;
}

header {
    position: relative;
    width: 100%;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-right: 10px;
    float: start;
    color: #fff;
}

h2 {
    font-size: 15px;
    color: #fff;
}

header img {
    max-width: 500px;
    max-height: 474px;

}