@import url("https://fonts.googleapis.com/css2?family=Jost:ital@1&display=swap");
@import "colors.css";
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  transition: 0.7s;
  padding: 20px 20px;
  z-index: 10;
}

nav.abajo {
  background-color: #2e3d7a;
  padding: 15px 20px;
}

nav.abajo .logo,
nav.abajo ul li a {
  color: #ffffff;
}

nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  font-family: "Jost", sans-serif;
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 600;
  transition: 0.7s;
  padding: 5px;
  border-radius: 7px;
}

.title {
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 3px;
  transition: 1.5s;
  text-decoration: none;
}

.checkbtn {
  display: block;
  float: right;
  margin-top: 9px;
}

.checkbtn img {
  height: 40px;
  width: 45px;
  filter: invert(100%);
  object-fit: cover;
}

.menu-icon {
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#check,
.checkbtn {
  display: none;
}

.icon2 {
  color: #fff;
}

@media (max-width: 900px) {
  .checkbtn {
    display: initial;
  }

  nav {
    justify-content: start;
  }
  nav ul {
    display: inline-block;
    position: fixed;
    width: 50%;
    height: 100vh;
    background: var(--dark-blue);
    top: 0;
    left: -500px;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
 
  li a:hover,
  li a.active {
    background: none;
    color: red;
  }
  #check:checked ~ ul {
    left: 0;
  }

  nav.abajo {
    background-color: initial;
  }

  nav.abajo .logo,
  nav.abajo ul li a {
    color: #fff;
  }
  
}
