@import "header.css";
@import "nav.css";
@import "main.css";
@import "about.css";
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
}

.grid-container > * {
  text-align: center;
}

.header {
  grid-area: header;
  background: linear-gradient(var(--dark-blue),#1a0030 70rem);
}

.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template:
    "header"  100vh
    "main"    auto
    "sidebar" 100px
    "footer"  auto;
}

.navbar {
  position: sticky;
  top: 0;
}


#check,
.checkbtn {
  display: none;
}

#check:checked ~ nav {
  left: 0;
  transition: all .60s;
}


@media (min-width: 600px) {
  .grid-container {
    grid-template:
      "header  header" 100vh
      "main    sidebar" auto
      "footer  footer" 100px /
      auto      auto;
  }

  .navbar {
    position: sticky;
    top: 0;
  }


}

@media (min-width: 900px) {
  .grid-container {
    grid-template:
      "header  header  header"  100vh
      "main    main    main"    auto
      "sidebar sidebar sidebar" auto
      "footer  footer  footer"  100px /
       auto     auto   auto;
  }


}

.container-tyc{
  width: 70%;
  height: 100vh;
}
